services:
  api:
    build: .
    ports:
      - "8080:8080"
    environment:
      - PORT=:8080
      - DATABASE_URL=postgres://taskapi:taskapi@postgres:5432/task_api?sslmode=disable
      - JWT=${JWT}
    depends_on:
      postgres:
        condition: service_healthy

  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: taskapi
      POSTGRES_PASSWORD: taskapi
      POSTGRES_DB: task_api
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U taskapi -d task_api"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data: